parameters:
    predis:
        scheme: tcp
        host: redis
        port: 6379

application:
	errorPresenter: Error
	mapping:
		*: GameeApi\Presenters\*Presenter

services:
	router: GameeApi\Router\RouterFactory::createRouter
	- GameeApi\Scores\CreateScore
	- GameeApi\Scores\GetTopTenScores
	- Predis\Client(%predis%)
